.HomeBodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    height: 100vh
}

.Blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}